#bottom-header-bk {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0000b3;
  padding: 10px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

a { text-decoration:none;color:inherit; }
.container { align-items:center; }
.title-bk {
  font-size:100px;
  font-family: 'Ubuntu Mono', monospace;
  text-align:center;
}
.undertitle-bk {
  font-size:30px;
  color:gray;
  font-family: 'Ubuntu Mono', monospace;
  margin-top:5px;
  text-align:center;
}
.header-bk {
  display:flex;
  justify-content: space-evenly;
}
.header-bk p {
  margin: 0;
}
hr {
  border-top: 2px solid #bbb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
